# Archivos de compilación
*.class
*.jar
*.war
*.ear

# Directorios generados por Maven y Gradle
target/
build/
bin/
out/

# Configuraciones específicas de IntelliJ IDEA
.idea/
*.iml

# Configuraciones específicas de Eclipse
.project
.classpath
.settings/

# Configuraciones específicas de NetBeans
nbproject/private/
build/
nbbuild/
dist/
*.nb-gradle/

# Configuraciones específicas de VSCode
.vscode/

# Logs y archivos del sistema
*.log
.DS_Store
Thumbs.db

# Archivos temporales y de respaldo
*~
*.swp
*.tmp

# Otras configuraciones específicas de Java
*.config